* {
    font-family: "lato", sans-serif;
    font-weight: bold;
}

body {
    background: rgb(42, 152, 255);
    color: #ffffff;
    margin-top: 20px;
    text-align: center;
}

.container {
    display: block;
    width: 350px;
    margin: 0 auto;
}

ul {
    margin: 0;
    padding: 0;
}

.form-group {
    width: 350px;
    clear: both;
}

.form-group input {
    width: 100%;
    clear: both;
}

input, button {
    padding: 10px;
    display: inline-block;
    margin: 10px;
}